@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Pridi:wght@200;300;400;500;600;700&display=swap');

li {
    list-style: none;
}

body {
    background-color: white;
    font-family: "Pridi", serif;
    margin: 0;
}

.header {
    position: fixed;
    margin: 0;
    left: 0;
    top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: red;
    color: white;
    font-size: 20px;
    border-bottom: solid 5px white
}

.header a {
    text-decoration: none;
    color: white;
    display: flex;
}

.header .escudo_nome {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
}

.header .escudo_nome img {
    width: 85px;
}

.header .nav_links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
}

.header button {
    border-radius: 10px;
    background-color: black;
    color: white;
    height: 30px;
    width: 150px;
    border: solid 2px white;
    font-family: "Pridi", serif;
    font-weight: bold;
    cursor: pointer;
}

.header .selecionado {
    color: black;
    font-weight: bold;
}

.container {
    margin-top: 100px;
    text-align: center;
    background-image: url('../assets/imgs/morumbi-fundo.jpg');
    background-repeat: no-repeat;
    /* --> Imagem de fundo não se repete */
    background-attachment: fixed;
    /* --> Imagem de fundo fica fixa */
    padding-bottom: 20px;
}

/* RODAPÉ */
.footer {
    color: white;
    background-color: red;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    left: 0;
    border-top: solid 5px white;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.footer ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 150px;
}

.footer ul li img {
    width: 25px;
}

.footer .logo {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .logo img {
    width: 90px;
}

.footer h4 {
    margin: 0;
}

.footer p {
    margin: 0;
}

/* ELENCO */
.container .enunciado {
    background-color: black;
    color: white;
    font-size: 30px;
}

.container .posicao {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.container h3 {
    background-color: red;
    color: white;
    width: fit-content;
    border-radius: 10px;
    padding: 10px 100px 10px 100px;
    font-size: 60px;
    border: solid 2px white;
    margin-bottom: 30px;
    margin-top: 0;
}

.divLinhaAtleta {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#ultimaLinha {
    margin-bottom: 0;
}

.divLinhaAtleta .divAtleta {
    background-color: black;
    color: white;
    border-radius: 10px;
    border: solid 2px white;
    width: 40%;
}

.divLinhaAtleta .divAtleta .identificacao {
    display: flex;
    justify-content: space-between;
    background-color: red;
    color: white;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    border-bottom: solid 5px white;
}

.divLinhaAtleta .divAtleta .identificacao img {
    border-radius: 10px;
    width: 160px;
    height: 160px;
}

/* LOGIN E CADASTRO */
.container .card {
    display: flex;
    justify-content: center;
}

.container .card .formulario {
    background-color: black;
    color: white;
    border: solid 2px white;
    border-radius: 10px;
    width: 70%;
}

.container .card .formulario .logoenome {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: red;
    color: white;
    border-radius: 10px;
    border-bottom: solid 5px white;
    padding: 10px;
}

.container .card .formulario .logoenome img {
    width: 150px;
}

.container .card .formulario .inputs {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .card .formulario .inputs input {
    border-radius: 10px;
    height: 30px;
    width: 400px;
    text-align: center;
    font-family: "Pridi", serif;
}

.container .card .formulario .inputs select {
    border-radius: 10px;
    height: 30px;
    width: 400px;
    text-align: center;
    font-family: "Pridi", serif;
    cursor: pointer;
}

.container .card .formulario .inputs button {
    border-radius: 10px;
    background-color: red;
    border: solid 2px white;
    color: white;
    height: 50px;
    width: 200px;
    text-align: center;
    font-family: "Pridi", serif;
    font-weight: bold;
    cursor: pointer;
}

.container .card .formulario .inputs .div_select_plano {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    border: solid 2px white;
    border-radius: 10px;
    padding: 0px 20px 20px 20px;
}

.container .card .formulario .inputs .sociotorcedor {
    display: flex;
}

.alerta_erro {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.card_erro {
    display: none;
    background-color: white;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: red 2px solid;
    padding: 10px;
    margin-right: 0;
    text-align: center;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}

/* INDEX */
.banner {
    margin-top: 100px;
}

.banner img {
    width: 100%;
    height: 450px;
}

/* QUIZ */
.container .divQuiz {
    display: flex;
    justify-content: center;
}

.container .divQuiz #pontuacaoEJogo {
    width: 80%;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: solid 5px white;
    color: white;
    height: 530px;
}

.container .divQuiz #pontuacaoEJogo #btnIniciarQuiz {
    border-radius: 10px;
    background-color: red;
    border: solid 2px white;
    color: white;
    height: 100px;
    width: 400px;
    text-align: center;
    font-family: "Pridi", serif;
    font-weight: bold;
    font-size: 50px;
    cursor: pointer;
}

.container .divQuiz #pontuacaoEJogo button {
    border-radius: 10px;
    background-color: red;
    border: solid 2px white;
    color: white;
    height: 50px;
    width: 200px;
    text-align: center;
    font-family: "Pridi", serif;
    font-weight: bold;
    cursor: pointer;
}

.container .divQuiz #pontuacao {
    flex-direction: column;
    border-bottom: solid 5px white;
    border-radius: 4px;
    background-color: red;
    font-size: large;
    padding-top: 10px;
}

.container .divQuiz #jogo {
    flex-direction: column;
    font-size: larger;
    padding-top: 30px;
}

.container .divQuiz #botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container .divQuiz #botoes .botoesQuiz {
    display: flex;
    width: 700px;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 30px;
}

.flex-colunar {
    display: flex;
    flex-direction: column;
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}